<div class="text-center">
  <form class="form-register" (submit)="onRegisterSubmit()">
    <img class="mb-4" src="../../../assets/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <label for="name" class="sr-only">Name</label>
    <input type="text" id="name" [(ngModel)]="name" name="name"  class="form-control" placeholder="Name" required autofocus>
    <label for="username" class="sr-only">Usermame</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" placeholder="Username" required >
    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Email address" required >
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-success btn-block register-btn" type="submit">Submit</button>
  </form>
</div>
