<div class="jumbotron text-center">
  <h1>MEAN Authentication App</h1>
  <p class="lead">
    Welcome to the awesome authentication app.
  </p>
  <div>
    <a style="margin-right:10px;" class="btn btn-success" [routerLink]="['/register']"><i class="glyphicon glyphicon-user"></i> Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login <i class="glyphicon glyphicon-arrow-right"></i></a>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Express Backend</h2>
      <p>A Rock solid nodejs / express server using mongoose to organize the models and query the database. </p>
    </div>
    <div class="col-md-4">
      <h2>Angular CLI</h2>
      <p>Generates components, services, pipes and more. Local dev server and easy compilation.</p>
    </div>
    <div class="col-md-4">
      <h2>JWT Tokens</h2>
      <p>Full featured authentication using json web tokens. Login and store user data.</p>
    </div>
  </div>
  <hr>
</div>
