<div class="jumbotron text-center">
  <h1>LEAD Talent Search Exam (LTSE)</h1>
  <p class="lead">
    To identify hidden talents.
  </p>
  <div>
    <a style="margin-right:10px;" class="btn btn-success" target="_blank" href="http://ltse.leadtrust.in">Register Now</a>
  </div>
</div>

<div class="container">
  <div class="row tac">
    <div class="col-md-3">
      <h2>Karnataka</h2>
      <p><a href="">Click here to view list</a> </p>
    </div>
    <div class="col-md-3">
      <h2>Kerala</h2>
      <p><a href="">Click here to view list</a> </p>
    </div>
    <div class="col-md-3">
      <h2>Maharashtra</h2>
      <p><a href="">Click here to view list</a> </p>
    </div>
    <div class="col-md-3">
      <h2>Damman</h2>
      <p><a href="">Click here to view list</a> </p>
    </div>
  </div>
  <hr>
</div>
